* {
    margin: 0;
    padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 150px;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 1rem;
}

h1 {
  font-size: 4.5rem;
  padding-bottom: 5%;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  border: solid 1px black;
}

.tile {
  border: solid 1px rgb(85, 76, 76);
  flex: 0 1 auto;
}

.colored-tile {
  background-color: black;
}

.controls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin: 5% 0;
}

.slide-container {
  text-align: center;
}

.slider {
  accent-color: rgb(85, 76, 76);
}