body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.canvas {
	display: flex;
	width: 400px;
	height: 400px;
	flex-wrap: wrap;
	border: solid black 2px;
}

.pixel {
	width: 23px;
	border: solid red 0.5px;
}

.colored {
	background-color: palegreen;
}